= form_with(model: [project]) do |f|
  - if project.errors.any?
    .text-white.bg-gray-600.border.rounded.border-gray-500.p-2.mb-3
      %h2.text-lg.text-center
        Alguns erros impediram o projeto de ser criado

      %hr.my-2

      %ul 
        - project.errors.each do |error|
          %li
            = error.full_message

  .text-white
    %div.my-2
      = f.label :title
      = f.text_field :title, class: 'w-full block bg-gray-600 border rounded border-gray-500' 

    %div.text-end.my-2
      = f.submit class: 'border rounded bg-white text-gray-700 cursor-pointer p-2'


