%div{id: "#{dom_id(project)}", class: 'flex justify-between text-white rounded py-2 ps-2 mb-2 hover:bg-gray-600'}
  %div
    = project.title

  %div
    = link_to 'Acessar', project, class: 'border rounded p-2 hover:bg-white hover:text-gray-700'
    = link_to 'Editar', edit_project_path(project), class: 'border rounded p-2 hover:bg-white hover:text-gray-700'
    = link_to 'Remover', project_path(project), data: {turbo_method: :delete}, class: 'border rounded p-2 hover:bg-white hover:text-gray-700'
