!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Project Tracker
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}

    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = stylesheet_link_tag "application"
    = javascript_importmap_tags

  %body.bg-gray-800.flex 
    %aside{class: 'w-3/12 h-screen text-gray-300 border-r border-gray-600 p-3'}
      %section
        %h2.text-2xl.text-center.font-semibold.mb-3
          Project Tracker

        %ul
          %li
            = link_to 'Projetos', projects_path, class: 'inline-block p-2 hover:bg-gray-700 rounded w-full'
    
    %main.h-screen.w-full.p-6
      = yield
