!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Project Tracker
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}

    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = stylesheet_link_tag "application"
    = javascript_importmap_tags

  %body
    %main{class: 'mx-auto w-8/12 py-3'}
      %section.border.rounded.shadow.flex.justify-center.p-2.mb-4
        = link_to 'projetos', projects_path, class: 'hover:underline capitalize italic text-xl font-light'
      = yield